{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block body_block %}		
		{% if registered %}
		Rango says : <strong>Thank you for registering </strong>
        <a href='/rango/'> Return to homepage </a> <br/>
        {% else %}
        
        <form role="form" id="profile_form" method = "post" action = '/rango/add_profile/'
                enctype = "multipart/form-data">
            <h2 class = "form-signin-heading"><strong>Tell me about yourself</strong></h2>
            {% csrf_token %}
            {{ profile_form|as_bootstrap }}
            <br/>
            <button class = "btn btn-primary" type = "submit" name ="submit">Save Profile</button>
        </form>
        {% endif %}
{% endblock %}